* {
  margin: 0;
  box-sizing: border-box;
}

button {
  width: 120px;
  height: 50px;
}

main {
  max-width: 900px;
  height: 100vh;
  margin: 0 auto;
}

section {
  height: 80px;
  width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}

.level_1 {
  height: 200px;
  width: 500px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.level_1_command {
  width: 250px;
  display: flex;
  justify-content: center;
}

.level_2 {
  height: 300px;
  width: 700px;
  display: flex;
  justify-content: center;
}

.level_2_command {
  width: 350px;
  display: flex;
  justify-content: space-around;
}

.level_3 {
  height: 300px;
  width: 800px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.level_3_command {
  width: 400px;
  display: flex;
  justify-content: space-around;
}


.jikkyou {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.syouhai {
  margin-top: 600px;
  text-align: center;
}

/* button {
  width: 120px;
  height: 50px;
  display: none;
}

.active {
  display: block;
} */